// main: main.scss

header {
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;

    @media screen and (max-height: 400px) {}

    .filter {
        height: 100%;

        div {
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: -230px;
            height: 100%;

            @media screen and (max-height: 400px) {
                margin-bottom: 20px;
            }

            @media screen and (max-width: 1200px) {
                margin-top: 0;
            }

            @media screen and (max-height: 750px) {
                margin-top: 0;
            }

            h1 {
                text-align: center;
                font-weight: 700;
                color: #fff;

                span {
                    color: $font-red;
                    display: block;
                }
            }

            p {
                text-align: center;
                margin-top: 33px;
                font-size: 18px;
                color: #fff;
                opacity: 0.6;

                @media screen and (max-width: 1200px) {
                    margin-top: calc(33px/1.1);
                }

                @media screen and (max-width: 600px) {
                    margin-top: calc(33px/1.5);
                }

                @media screen and (max-height: 350px) {
                    display: none;
                }
            }

            .button {
                @media screen and (max-height: 400px) {
                    margin-top: 0;
                }
            }
        }
    }
}