// main: main.scss

header {
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background: url("./../img/fond.png");
    background-attachment: fixed;
    padding: 10px;

    .filter {
        height: 100%;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: -230px;
            @media screen and (max-width: 1200px){
                margin-top: 0;
            }

            h1 {
                text-align: center;
                font-weight: 700;
                color: #fff;

                span {
                    color: $font-red;
                    display: block;
                }
            }

            p {
                text-align: center;
                margin-top: 33px;
                font-size: 18px;
                color: #fff;
                opacity: 0.6;
                @media screen and (max-width: 1200px){
                    margin-top: calc(33px/1.1);
                }
                @media screen and (max-width: 600px){
                    margin-top: calc(33px/1.5);
                }
            }
            .button {
                @media screen and (max-height: 400px){
                    margin-top: calc(51px/1.5);
                }
                @media screen and (max-height: 400px){
                    margin-top: 0;
                }
            }
        }
    }
}