* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

* *::first-letter {
  text-transform: uppercase;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: 92px;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: calc(92px/1.1);
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: calc(92px/1.5);
  }
}

.button {
  cursor: pointer;
  text-align: center;
  margin-top: 51px;
  background-color: #ffc74a;
  color: #b98000;
  border: none;
  letter-spacing: 1.05px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 1000px;
  text-transform: uppercase;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .button {
    font-size: calc(14px/1.1);
  }
}

@media screen and (max-width: 600px) {
  .button {
    font-size: calc(14px/1.3);
  }
}

.button:hover {
  color: black;
}

header {
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
}

header #filter {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #000000bb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header #filter div {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -230px;
  height: 100%;
}

@media screen and (max-height: 400px) {
  header #filter div {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  header #filter div {
    margin-top: 0;
  }
}

@media screen and (max-height: 750px) {
  header #filter div {
    margin-top: 0;
  }
}

header #filter div h1 {
  text-align: center;
  font-weight: 700;
  color: #fff;
}

header #filter div h1 span {
  color: #ed6950;
  display: block;
}

header #filter div p {
  text-align: center;
  margin-top: 33px;
  font-size: 18px;
  color: #fff;
  opacity: 0.6;
}

@media screen and (max-width: 1200px) {
  header #filter div p {
    margin-top: calc(33px/1.1);
  }
}

@media screen and (max-width: 600px) {
  header #filter div p {
    margin-top: calc(33px/1.5);
  }
}

@media screen and (max-height: 350px) {
  header #filter div p {
    display: none;
  }
}

@media screen and (max-height: 500px) {
  header #filter div .button {
    margin-top: 0;
  }
}

nav {
  z-index: 1;
  position: absolute !important;
  top: 0;
  width: 100%;
}

nav button {
  color: #fff;
}

nav a {
  color: #fff;
}

nav a:hover {
  color: #ffc74a;
}

section#mainVille {
  position: relative;
  width: 100%;
  left: 0;
  top: -290px;
  height: auto;
}

@media screen and (max-width: 1200px) {
  section#mainVille {
    display: none;
  }
}

@media screen and (max-height: 750px) {
  section#mainVille {
    display: none;
  }
}

section#mainVille p {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

section#mainVille div.cardContainer {
  margin-top: 46px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#mainVille div.cardContainer div.mainVille {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-color: #b4a9a9;
  width: 330px;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin-right: 10px;
  margin-left: 10px;
  transition-duration: 1s;
}

section#mainVille div.cardContainer div.mainVille div.element h3 {
  color: #fff;
  opacity: 0.9;
  color: #ffffff;
  font-weight: 700;
}

section#mainVille div.cardContainer div.mainVille div.element p {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 64px;
  color: #ffc74a;
  font-size: 14px;
  font-weight: 400;
}

section#mainVille div.cardContainer div.mainVille button {
  height: 0;
  visibility: hidden;
  margin: 5px;
}

section#mainVille div.cardContainer div.mainVille:hover div.element {
  height: 50%;
}

section#mainVille div.cardContainer div.mainVille:hover div.element h3 {
  opacity: 0.9;
  font-size: 48px;
  font-weight: 700;
  line-height: 92px;
}

@media screen and (max-width: 1200px) {
  section#mainVille div.cardContainer div.mainVille:hover div.element h3 {
    font-size: calc(48px/1.1);
  }
}

@media screen and (max-width: 600px) {
  section#mainVille div.cardContainer div.mainVille:hover div.element h3 {
    font-size: calc(48px/1.5);
  }
}

section#mainVille div.cardContainer div.mainVille:hover div.element p {
  color: #fff;
  margin-top: -18px;
}

section#mainVille div.cardContainer div.mainVille:hover button {
  height: auto;
  position: relative;
  bottom: 42px;
  visibility: visible;
}

section#secondaryVilles {
  margin-top: -220px !important;
}

@media screen and (max-width: 1200px) {
  section#secondaryVilles {
    margin-top: 59px !important;
  }
}

@media screen and (max-height: 750px) {
  section#secondaryVilles {
    margin-top: 59px !important;
  }
}

section#secondaryVilles div.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#secondaryVilles div.search h4 {
  text-align: center;
  color: #606f81;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
}

section#secondaryVilles div.search input#search {
  margin-top: 56px;
  border-radius: 1000px !important;
  font-size: 25px;
  border: none;
  width: 100%;
  height: 59px;
  -webkit-box-shadow: 0 0 85px rgba(141, 148, 169, 0.212);
          box-shadow: 0 0 85px rgba(141, 148, 169, 0.212);
}

@media screen and (max-width: 1200px) {
  section#secondaryVilles div.search input#search {
    margin-top: calc(56px/1.1);
  }
}

@media screen and (max-width: 600px) {
  section#secondaryVilles div.search input#search {
    margin-top: calc(56px/1.5);
  }
}

section#secondaryVilles div.search .input-group {
  margin-bottom: 0 !important;
}

section#secondaryVilles div.search .input-group-text {
  position: absolute;
  border: none;
  margin-left: -50px;
  z-index: 1;
  background-color: #00000000;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  top: 56px;
  height: 59px;
  bottom: 10px;
}

@media screen and (max-width: 1200px) {
  section#secondaryVilles div.search .input-group-text {
    top: calc(56px/1.1);
  }
}

@media screen and (max-width: 600px) {
  section#secondaryVilles div.search .input-group-text {
    top: calc(56px/1.5);
  }
}

section#secondaryVilles div.search .input-group-text:hover {
  cursor: pointer;
  color: #ffc74a;
}

section#secondaryVilles div.search .button {
  margin-top: 20px;
  text-transform: none;
  font-size: 14px;
  padding-right: 0;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

@media screen and (max-width: 1200px) {
  section#secondaryVilles div.search .button {
    padding-left: calc(10px/1.1) !important;
    padding-right: calc(10px/1.1) !important;
    padding-top: calc(8px/1.1) !important;
    padding-bottom: calc(10px/1.1) !important;
  }
}

@media screen and (max-width: 600px) {
  section#secondaryVilles div.search .button {
    padding-left: calc(10px/1.3) !important;
    padding-right: calc(10px/1.3) !important;
    padding-top: calc(8px/1.3) !important;
    padding-bottom: calc(8px/1.3) !important;
  }
}

section#secondaryVilles div.search .rowButton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

@media screen and (max-width: 785px) {
  section#secondaryVilles div.search .rowButton {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section#secondaryVilles div.search .rowButton .right {
    width: 100%;
    margin-left: 0 !important;
  }
  section#secondaryVilles div.search .rowButton .left {
    width: 100px;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  section#secondaryVilles div.search .rowButton .left .button {
    margin-left: 0 !important;
    margin-right: 10px;
  }
}

section#secondaryVilles div.search .rowButton .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
  margin-left: 4px;
}

section#secondaryVilles div.search .rowButton .right .button {
  background-color: #bdc8d9;
  color: #fff;
  margin-right: 10px;
  font-weight: 700;
  letter-spacing: 0.35px;
  margin-top: 0;
}

section#secondaryVilles div.search .rowButton .right .button:hover {
  background-color: #ffc74a;
}

section#secondaryVilles div.search .rowButton .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  margin-right: 4px;
}

section#secondaryVilles div.search .rowButton .left .button {
  margin-top: 0;
  border: 1px solid #bdc8d9;
  background-color: #00000000;
  color: #8d97a5;
  margin-left: 10px;
  font-weight: 700;
  letter-spacing: 0.35px;
}

section#secondaryVilles div.search .rowButton .left .button:hover {
  color: black;
}

section#secondaryVilles div.villes {
  margin-top: 32px;
}

section#secondaryVilles div.villes #notFound {
  text-align: center;
  color: #606f81;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 0.75px;
  width: 100%;
}

section#secondaryVilles div.villes .secondaryVille {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 0 85px #8d94a926;
          box-shadow: 0 0 85px #8d94a926;
}

section#secondaryVilles div.villes .secondaryVille img {
  border-radius: 5px;
  margin: 10px 10px 0px;
  width: 94%;
}

section#secondaryVilles div.villes .secondaryVille * {
  text-align: center;
}

section#secondaryVilles div.villes .secondaryVille .title {
  margin-top: 29px;
  font-size: 30px;
  color: #606f81;
  margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
  section#secondaryVilles div.villes .secondaryVille .title {
    margin-top: calc(29px/2);
    font-size: calc(30px/1.1);
  }
}

@media screen and (max-width: 600px) {
  section#secondaryVilles div.villes .secondaryVille .title {
    margin-top: calc(29px/4);
    font-size: calc(30px/1.5);
  }
}

section#secondaryVilles div.villes .secondaryVille p {
  font-size: 15px;
  color: #606f81;
  opacity: 0.6;
  margin-bottom: 0;
}

section#secondaryVilles div.villes .secondaryVille .button {
  margin-bottom: 30px;
  color: #bdc8d9;
  background-color: #fff;
  margin-top: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -webkit-box-shadow: 0 0 54px rgba(141, 148, 169, 0.25);
          box-shadow: 0 0 54px rgba(141, 148, 169, 0.25);
}

section#secondaryVilles div.villes .secondaryVille .button:hover {
  background-color: #ffc74a;
  color: #b98000;
}

section#description {
  background-color: #f8f9fb;
}

section#description #backtxt {
  z-index: 0;
  text-shadow: 0 0 125px rgba(141, 148, 169, 0.25);
  font-weight: 700;
  position: absolute;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: -80px;
  width: 45%;
  text-shadow: 0 0 125px rgba(141, 148, 169, 0.25);
  font-family: Montserrat;
  font-size: 210px;
  font-weight: 700;
  word-break: break-all;
  text-align: right;
  text-transform: uppercase;
  color: #e4e4e4;
}

@media screen and (max-width: 1250px) {
  section#description #backtxt {
    display: none;
  }
}

section#description h4 {
  z-index: 2;
  text-align: center;
  padding-top: 71px;
  color: #606f81;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.3px;
}

section#description .container {
  margin-top: 71px;
  padding-bottom: 117px;
}

@media screen and (max-width: 1200px) {
  section#description .container {
    margin-top: calc(71px/1.5);
  }
}

@media screen and (max-width: 600px) {
  section#description .container {
    margin-top: calc(71px/2);
  }
}

section#description div#desciptionTxt {
  margin-top: 46px;
}

section#description div#desciptionTxt .title {
  text-align: unset;
  padding: 0;
  margin-top: 0;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.36px;
  color: #f8c759;
  width: auto;
  line-height: 50px;
}

section#description div#desciptionTxt p {
  color: #606f81;
  margin-top: 54px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.14px;
}

section#description div#desciptionTxt button.button {
  margin-top: 63px;
}

section#description div#imgShow img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  section#description div#imgShow img {
    margin-top: 30px;
  }
}

section#description div#imgShow div#border {
  border: 10px solid #ffc64ab6;
  position: absolute;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  top: 10%;
  left: 11%;
}

@media screen and (max-width: 1300px) {
  section#description div#imgShow div#border {
    display: none;
  }
}

section#enjoy {
  text-align: center;
  background-image: url("./../img/Photo.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
  padding: 10px;
}

@media screen and (max-height: 371px) {
  section#enjoy {
    height: auto;
    padding: 20px;
  }
}

section#enjoy div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#enjoy div h5 {
  font-size: 92px;
  font-weight: 700;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  section#enjoy div h5 {
    font-size: calc(92px/1.5);
  }
}

@media screen and (max-width: 600px) {
  section#enjoy div h5 {
    font-size: calc(92px/2.5);
  }
}

section#enjoy div p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 31px;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  section#enjoy div p {
    margin-top: calc(48px/2);
  }
}

@media screen and (max-width: 600px) {
  section#enjoy div p {
    margin-top: calc(48px/4);
  }
}

section#enjoy span {
  color: #ffc74a;
  text-decoration: underline;
  cursor: pointer;
}

section#enjoy .button {
  margin-top: 48px;
}

@media screen and (max-width: 1200px) {
  section#enjoy .button {
    margin-top: calc(48px/2);
  }
}

@media screen and (max-width: 600px) {
  section#enjoy .button {
    margin-top: calc(48px/4);
  }
}

section#right {
  text-align: center;
  height: 50%;
  background-color: #fff;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

@media screen and (max-height: 371px) {
  section#right {
    height: auto;
    padding: 20px;
  }
}

section#right * {
  margin-bottom: 0 !important;
}

section#right img {
  z-index: 1;
}

section#right p#reserve {
  z-index: 1;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px;
  margin-top: 24px;
  color: #606f81;
}

section#right p#back {
  position: absolute;
  opacity: 0.55;
  text-shadow: 0 0 125px rgba(141, 148, 169, 0.25);
  font-size: 305px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e9e9e9;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 1270px) {
  section#right p#back {
    font-size: calc(305px/2);
  }
}

@media screen and (max-width: 650px) {
  section#right p#back {
    font-size: calc(305px/4);
  }
}

@media screen and (max-width: 315px) {
  section#right p#back {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */